.env
.env.test
config/local.js
config/ssl
node_modules/
bower_components/
.tmp
dump.rdb
lib-cov
coverage/
*.seed
*.log
*.out
*.pid
npm-debug.log
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history
*.iml
latest.dump
latest.dump.*
*.sql
.env.swp
*.swp
.nyc_output/
startserver.sh
.vscode
# .devcontainer/datahome is for local data within the container, e.g. shell history
.devcontainer/datahome/*
!.devcontainer/datahome/.gitkeep
.yarn