<html>
<body>
<script type="text/javascript">
opener.popupDone({
  context: '<%= context %>',
  error:   <%- typeof(error) === "undefined" ? 'null' : '"' + error.message.replace(/"/g, '\\"') + '"' %>,
  url:     '<%= typeof(url) === "undefined" ? "" : url %>'
});
</script>
</body>
</html>
